.formContainer {
    width: 100%;
    /* padding: 5% 0 5%; */
    padding-left: 1%;
    padding-right: 1%;
}
.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
:root {
    --red: #FC0000;
    --burgundy: #8C0A0A;
    --orange: #FEA500;
    --yellow: #FFFF00;
    --white: #FFFFFF;
    --gray: #808080;
    --black: #010101;
    --purple: #810081;
    --light-purple: #DB70D6;
    --light-blue: #87CEFA;
    --dark-blue: #01008C;
}
.nav-wrapper {
    background-color: var(--clear);
    font-weight: bold;
    text-shadow: 0 0 10px white, 0 0 10px red;;
    text-align: center;
    padding: .5% 1% 2% 1%;
}
.monsterHeading {
    color: var(--white);
}
.battleHeading {
    color: var(--white);
}

.playerHeading {
    color: var(--white)
}

body {
    background-image: url("../images/dndimage.png");
    background-size: cover;
}