<<<<<<< HEAD
.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
=======
.formContainer {
    width: 100%;
    /* padding: 5% 0 5%; */
    padding-left: 1%;
    padding-right: 1%;
}
>>>>>>> 0ec5b792d8a60664da5d764c36e7f72a7a14de98
